<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head th:replace="layout :: site-head">
</head>

<body>

	<header th:replace="layout :: site-header"></header>
	
	<h2 style="text-align: center;">CREATE A POST</h2>

	<div class="container">
		<div class="well" style="word-wrap: break-word;">
			<div class="media">
				<div class="media-body">
				
					<form th:action="@{/admin/post-create}" th:object="${post}" method="post">
		
						<div class="form-group col-md-4">
							<label for="inputTitle">Title</label>
							<input maxlength="255" type="text" class="form-control" th:field="*{title}" placeholder="Title"/>
							<label th:if="${#fields.hasErrors('title')}" th:errors="*{title}"
				                               class="alert alert-danger"></label>
						</div>
							
						<div class="form-group col-md-4">
							<label for="inputShort">Short content</label>
							<textarea class="form-control" rows="4" th:field="*{short_content}" placeholder="Short content" required></textarea>
							<label th:if="${#fields.hasErrors('short_content')}" th:errors="*{short_content}"
				                               class="alert alert-danger"></label>
						</div>
						
						<div class="form-group col-md-4">
							<label for="inputFull">Full content</label>
							<textarea class="form-control" rows="8" th:field="*{full_content}" placeholder="Full content" required></textarea>
							<label th:if="${#fields.hasErrors('full_content')}" th:errors="*{full_content}"
				                               class="alert alert-danger"></label>
						</div>
						<br>
						<button type="submit" class="btn btn-primary">Post!</button>
						
					</form>
					
				</div>
			</div>
		</div>
	</div>

	<footer th:replace="layout :: site-footer"></footer>

</body>

</html>