<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head th:replace="layout :: site-head">
</head>

<body>

	<header th:replace="layout :: site-header"></header>

	<div align="center" sec:authorize="hasAuthority('ADMIN')">

		<button onclick="location.href='/admin/post-create'" type="button" class="btn btn-primary">Add Post</button>

	</div>

	<div class="container">

		<tr th:each="post : ${posts}">
			
			<div style="background-color: lightgrey;">

				<a th:href="@{/posts/{postId} (postId=${post.id})}">
					<h2><td th:text="${post.title}"></td></h2>
				</a>
				
				<p>
					<td th:text="${post.short_content}"></td>
				</p>
				
				<label>Author: </label>
				<td th:text="${post.author}"></td> <br>
				
				<label>Published on: </label>
				<td th:text="${post.published_on}"></td> <br>

			</div>
		</tr>
	</div>
	
	<footer th:replace="layout :: site-footer"></footer>

</body>

</html>