<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:fragment="site-head">
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>	
</head>
<body>

	<header th:fragment="site-header">

		<nav class="navbar navbar-inverse">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse"
						data-target="#myNavbar">
						<span class="icon-bar"></span> <span class="icon-bar"></span> <span
							class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="/">Blog</a>
				</div>
				<div class="collapse navbar-collapse" id="myNavbar">
					<ul class="nav navbar-nav">
						<li class="active"><a href="/">Home</a></li>
					</ul>

					<div sec:authorize="!isAuthenticated()">

						<form th:action="@{/}" method="POST"
							class="navbar-form navbar-right">

							<div class="input-group">
								<span class="input-group-addon"><i
									class="glyphicon glyphicon-user"></i></span> <input id="username"
									type="text" class="form-control" name="username" value=""
									placeholder="Username">
							</div>

							<div class="input-group">
								<span class="input-group-addon"><i
									class="glyphicon glyphicon-lock"></i></span> <input id="password"
									type="password" class="form-control" name="password" value=""
									placeholder="Password">
							</div>

							<button type="submit" class="btn btn-primary">Login</button>

						</form>
					</div>

					<div sec:authorize="hasAuthority('ADMIN')">

						<div class="navbar-form navbar-right">
							<form th:action="@{/logout}" method="get">
								<button class="btn btn-primary" name="logout" type="Submit">Logout</button>
							</form>
						</div>
						
						<div class="navbar-right">
							LOGGED IN AS ADMIN
						</div>

					</div>
					
					<div sec:authorize="hasAuthority('USER')">

						<div class="navbar-form navbar-right">
							<form th:action="@{/logout}" method="get">
								<button class="btn btn-primary" name="logout" type="Submit">Logout</button>
							</form>
						</div>
						
						<div class="navbar-right">
							LOGGED IN AS USER
						</div>

					</div>

				</div>

			</div>
		</nav>

	</header>

	<!-- Footer -->
	<footer class="navbar navbar-default navbar-fixed-bottom"
		th:fragment="site-footer"> <!-- Copyright -->
		<div class="navbar-text pull-left">&copy; 2018 Blog: Valters
			Admidins</div> <!-- Copyright -->

	</footer>
	<!-- Footer -->

</body>
</html>